<div class="editing-list">
    <tabset justified="true" class="editing-nav">
        <tab heading="网站" class="editing-nav-website pointer" active="status.tab.website.isTabSelect" ng-click="setTabSelected('website')">
            <div ui-view="website"></div>
        </tab>
        <tab heading="APP" class="editing-nav-app" active="status.tab.app.isTabSelect" ng-init="hasPosition('app')" ng-click="setTabSelected('app')">
            <!-- <div ui-view="app"></div> -->
        </tab>
        <tab heading="微信" class="editing-nav-weixin pointer" active="status.tab.weixin.isTabSelect" ng-click="setTabSelected('weixin')">
            <!-- <div ui-view="weixin"></div> -->
        </tab>
        <tab heading="微博" class="editing-nav-weibo pointer" active="status.tab.weibo.isTabSelect" ng-click="setTabSelected('weibo')">
            <!-- <div ui-view="weibo"></div> -->
        </tab>
        <!-- <button ng-show="showMore()" type="button" class="editing-more" data-placement="right-bottom" data-auto-close="1" data-template-url="./editingCenter/service/moreTabList/moreTabList.html" data-animation="am-slide-left"  bs-popover></button> -->
    </tabset>
</div>
