/*
 * 流程记录 导航
 */

.weiboProcessRecord .nav-tabs {
    height: 42px;
    background: #f1f3f5;
}

.weiboProcessRecord .nav-tabs li {
    width: 130px;
    color: #666;
    border-right: 1px solid #ccc;
}

.weiboProcessRecord .nav-tabs > li.active > a,
.weiboProcessRecord .nav-tabs > li.active > a:hover,
.weiboProcessRecord .nav-tabs > li.active > a:focus {
    border: none;
    background: none;
    line-height: 42px;
    background: #fff;
}

.weiboProcessRecord .nav-tabs > li.active > a,
.weiboProcessRecord .nav-tabs .nav-tabs > li.active {
    background: #fff;
    font-weight: bold;
    color: #000;
}

.weiboProcessRecord .m_nav h3.operateLog {
    background: url("./editingCenter/iWo/images/operate.png") no-repeat;
    width: 100px;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-indent: 26px;
    line-height: 26px;
    margin-left: 68px;
}

.weiboProcessRecord .nav-tabs li a {
    padding: 0px;
    width: 128px;
    color: #666;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    line-height: 42px;
}

.weiboProcessRecord img.closeModal {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 0px;
    top: -29px;
    right: 10px;
    cursor: pointer;
}

.weiboProcessRecord .modal-dialog {
	top:100px;
}
/*
 * 流程记录 内容
 */

.weiboProcessRecord .m_box_2 {
    border: 0;
    padding: 0;
    height: 420px;
    overflow-y: auto;
    width: 100%;
}

.weiboProcessRecord .m_timeline:before {
    position: absolute;
    display: block;
    content: "";
    top: 28px;
    bottom: 0;
    left: 24%;
    border-right: 1px solid #1aba9f;
}

.weiboProcessRecord .m_timeline .time_tick {
    width: 24%;
}

.weiboProcessRecord .m_timeline .time_item_cnt {
    display: inline-block;
    padding-right: 10px;
    margin-left: 24%;
}
.weiboProcessRecord .m_box_2 .time_item_cnt a {
    color: #666;
    line-height: 30px;
    margin-left: 20px;
}