/*========== 定义一个规则，并且不设置默认参数值 ============*/
.wechat_multidraft_window .modal-dialog {
  width: 320px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80%;
  margin: auto;
}
.wechat_multi_graphic .wx-pending-ls {
  width: 290px;
  margin: 0;
}
.wechat_multi_graphic .wx-pending-ls:hover {
  box-shadow: none;
}
.wechat_multi_graphic .pending-ls-des {
  background-color: rgba(0, 0, 0, 0.5);
}
.wechat_multi_graphic .pending-bk {
  position: relative;
  padding: 8px 0 0;
}
.wechat_multi_graphic .pending-bk-sort {
  display: block;
  position: absolute;
  right: 12px;
  bottom: 22px;
  width: 15px;
  height: 40px;
}
