.applyManagement {
  border: 1px solid #CFCFCF;
  border-top: transparent;
  overflow: hidden;
  padding: 10px 0px 10px 10px;
}
.applyManagement .fl {
  float: left;
}
.applyManagement .pt10 {
  padding-top: 10px;
}
.applyManagement .clue_calendar_button {
  margin-top: 0px;
}
.applyManagement .clue_calendar_button p {
  float: left;
  clear: both;
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
.applyManagement .clue_calendar_button .monitor_input_group {
  float: right;
  width: 40%;
}
.applyManagement .clue_calendar_button .monitor_form_control {
  float: none;
  height: 30px;
  background: url("editingCenter/app/images/sch.jpg") no-repeat 10px center;
  padding-left: 30px;
  font-size: 14px;
  font-family: "Helvetica Neue', Helvetica, Arial, sans-serif";
  width: 60%;
  float: left;
  border-radius: 5px!important;
}
.applyManagement .clue_calendar_button .input_group_btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  top: 0px;
  right: 0px;
  left: 10px;
  float: left;
}
.applyManagement .clue_calendar_button .input_group_btn .btn_monitor_search {
  width: 60px;
  height: 30px;
  padding: 0px;
  color: #65635f;
  background: url("editingCenter/app/images/b-m.jpg") repeat-x;
  border-radius: 5px;
}
.applyManagement .pagination > .active > a {
  z-index: 1;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.applyManagement .applyManagement_table {
  border-radius: 5px;
  border: 0;
  clear: both;
}
.applyManagement .applyManagement_table .apply_item {
  border: 1px solid #ccc;
  float: left;
  width: 49%;
  border-radius: 5px;
  padding: 5px 5px 20px 15px;
  margin: 0px 10px 10px 0;
}
.applyManagement .applyManagement_table .apply_item .item_img {
  float: left;
  padding: 0;
}
.applyManagement .applyManagement_table .apply_item .item_img img {
  height: 148px;
}
.applyManagement .applyManagement_table .apply_item span {
  /*line-height: 35px;*/
}
.applyManagement .applyManagement_table .apply_item .item_info {
  float: left;
  /*margin-left: 10px;*/
  padding: 0 0 0 10px;
}
/*.applyManagement .applyManagement_table .apply_item .item_info .item_info_btn .s_icon1 {
    margin: 0 6px 0 0px;
    padding-right: 6px;
    border-right: 1px solid #e9e9e9;
    line-height: 28px;
}*/
.applyManagement .applyManagement_table .apply_item .item_info .item_info_btn .s_icon1 {
  margin: 0 4px 0 0px;
  padding-right: 4px;
  border-right: 1px solid #e9e9e9;
  line-height: 28px;
}
/*.applyManagement .applyManagement_table .apply_item .item_info .item_info_btn .btn-commen_1 {
    height: 30px;
    line-height: 28px;
    padding: 0 10px;
    font-size: 12px;
    background: url("./editingCenter/app/images/b-m.jpg") repeat-x;
    color: #666;
    vertical-align: middle;
}*/
.applyManagement .applyManagement_table .apply_item .item_info .item_info_btn .btn-commen_1 {
  /* width: 80px; */
  height: 30px;
  line-height: 28px;
  padding: 0 10px;
  font-size: 12px;
  background: url("editingCenter/app/images/b-m.jpg") repeat-x;
  color: #666;
  vertical-align: middle;
}
.applyManagement .applyManagement_table .apply_item .item_info .item_info_h {
  /*min-height: 35px;*/
  padding-bottom: 9px;
}
.applyManagement .applyManagement_table .apply_item .item_info .item_info_h1 {
  min-height: 80px;
}
.applyManagement .applyManagement_table .apply_item h4 {
  font-weight: bold;
  line-height: 25px;
}
.applyManagement .applyManagement_table .apply_item .voice_num {
  color: #1aba9f;
  font-weight: bold;
  padding-left: 10px;
}
.applyManagement .voice_light {
  width: 170px;
  height: 6px;
  background: #ececec;
  margin-top: 8px;
  float: left;
  overflow: hidden;
}
.applyManagement .voice_light_1 {
  height: 6px;
  width: 0;
  background: #1aba9f;
}
.applyManagement .line_h26 {
  line-height: 26px!important;
}
.applyManagement .min_h {
  min-height: 53px;
}
@media screen and (max-width: 1281px) {
  .applyManagement .applyManagement_table .apply_item .item_info .item_info_h {
    padding-bottom: 3px;
  }
  .applyManagement .applyManagement_table .apply_item .item_info .item_info_btn .btn-commen_1 {
    height: 30px;
    line-height: 28px;
    padding: 0 8px;
    font-size: 12px;
    background: url("editingCenter/app/images/b-m.jpg") repeat-x;
    color: #666;
    vertical-align: middle;
  }
  .applyManagement .applyManagement_table .apply_item .item_info .item_info_btn .s_icon1 {
    margin: 0 4px 0 0px;
    padding-right: 4px;
    border-right: 1px solid #e9e9e9;
    line-height: 28px;
  }
  .applyManagement .min_h {
    min-height: 40px!important;
  }
  .applyManagement .line_h26 {
    line-height: 19px!important;
  }
  .applyManagement .applyManagement_table .apply_item .item_info {
    padding-top: 0px;
  }
  .applyManagement .applyManagement_table .apply_item .item_img img {
    height: 116px!important;
  }
}
@media screen and (min-width: 1441px) {
  .applyManagement .applyManagement_table .apply_item .item_info {
    float: left;
    padding: 10px 0 0 10px;
  }
  .applyManagement .applyManagement_table .apply_item .item_info .item_info_h {
    padding-bottom: 8px;
  }
  .applyManagement .applyManagement_table .apply_item .item_info .item_info_btn .btn-commen_1 {
    height: 30px;
    line-height: 28px;
    padding: 0 11px;
    font-size: 12px;
    background: url("editingCenter/app/images/b-m.jpg") repeat-x;
    color: #666;
    vertical-align: middle;
  }
  .applyManagement .applyManagement_table .apply_item .item_info .item_info_btn .s_icon1 {
    margin: 0 6px 0 0px;
    padding-right: 6px;
    border-right: 1px solid #e9e9e9;
    line-height: 28px;
  }
  .applyManagement .voice_light {
    width: 200px;
    height: 6px;
    background: #ececec;
    margin-top: 8px;
    float: left;
  }
}
@media screen and (min-width: 1367px) and (max-width: 1440px) {
  .applyManagement .applyManagement_table .apply_item .item_info {
    padding-top: 3px;
  }
  .applyManagement .applyManagement_table .apply_item .item_info .item_info_h {
    padding-bottom: 3px;
  }
  .applyManagement .applyManagement_table .apply_item .item_img img {
    height: 132px;
  }
}
@media screen and (max-width: 1366px) {
  .applyManagement .applyManagement_table .apply_item .item_info {
    padding-top: 0px;
  }
  .applyManagement .applyManagement_table .apply_item .item_info .item_info_h {
    padding-bottom: 3px;
  }
  .applyManagement .min_h {
    min-height: 49px;
  }
  .applyManagement .applyManagement_table .apply_item .item_img img {
    height: 125px;
  }
}
.applyManagement .applyManagement_table .apply_item .item_info .item_info_btn .btn-commen_1 a {
  color: #666;
  text-decoration: none;
}
.applyManagement .timeCue_page .page_left {
  margin-left: 200px;
}
