<form name="pictureEditform" novalidate>
    <div class="picture-edit-head">
        <img src="./resourceCenter/images/mtrh-pic.gif">
        <p class="pc-local">资源中心 > 图片库 > {{status.params.materialId?'素材编辑':'素材新建'}}</p>
        <div class="Iw-box-fix box-fix-bt">
            <div class="txt_r">
                <button class="btn btn-primary" ng-click="confirm()" style="padding-right: 14px;">
                    <span class="s_icon"><img ng-src="./editingCenter/iWo/images/csave.png"></span>保存
                </button>
                <button class="btn btn-primary" ng-click="close()" style="padding-right: 14px;">
                    <span class="s_icon"><img ng-src="./editingCenter/iWo/images/cclose.png"></span>关闭
                </button>
            </div>
        </div>
    </div>
    <div class="picture-edit-con">
        <div class="atals row_news  mc-padding-bottom">
            <div id="section-1">
                <div>
                    <div id="atlasDocInfo"></div>
                    <div class="row mc-padding-top-xs mr0 mb20">
                        <div class="col-md-9 mt20">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group clearfix">
                                        <div class="col-sm-1 mc-padding-horizontal-0 sc-tit"><em class="font_red">*</em>素材名称：</div>
                                        <div class="col-sm-9 mc-padding-horizontal-0">
                                            <div class="invalidate-input-box z1000">
                                                <input class="form-control" type="text" name="name" ng-model="data.picture.TITLE" placeholder="请输入图片名称" maxlength-error-message="长度不能超过50个字符！" validator="spechar,maxlength=50,required" ng-mouseenter="isShowTipsB=true" ng-mouseleave="isShowTipsB=false" is-show-tips="isShowTipsB">
                                            </div>
                                        </div>
                                        <span class="col-sm-1 tip">共<trs-word-num num-obj="{{data.picture.TITLE}}" class="font_red auto_wt"></trs-word-num>字</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group clearfix">
                                        <div class="col-sm-1 mc-padding-horizontal-0 sc-tit"><em class="font_red">*</em>关键字：</div>
                                        <div class="col-sm-9 mc-padding-horizontal-0">
                                            <div class="invalidate-input-box z1000">
                                                <input class="form-control" type="text" name="keyword" ng-model="data.picture.KEYWORD" placeholder="多个关键字以逗号分割" validator="spechar,required" ng-mouseenter="isShowTipsK=true" ng-mouseleave="isShowTipsK=false" is-show-tips="isShowTipsK">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group clearfix">
                                        <div class="col-sm-1 mc-padding-horizontal-0 sc-tit">相关人物：</div>
                                        <div class="col-sm-8 mc-padding-horizontal-0">
                                            <div class="invalidate-input-box z1000">
                                                <input class="form-control" type="text" name="person" ng-model="data.picture.RELATEPERSON" placeholder="多个人物关键字以逗号分割" validator="spechar" ng-mouseenter="isShowTipsP=true" ng-mouseleave="isShowTipsP=false" is-show-tips="isShowTipsP">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group clearfix">
                                        <div class="col-sm-1 mc-padding-horizontal-0 sc-tit">相关地点：</div>
                                        <div class="col-sm-8 mc-padding-horizontal-0">
                                            <div class="invalidate-input-box z1000">
                                                <input class="form-control" type="text" name="place" ng-model="data.picture.RELATEPLACE" placeholder="多个地点关键字以逗号分割" validator="spechar" ng-mouseenter="isShowTipsR=true" ng-mouseleave="isShowTipsR=false" is-show-tips="isShowTipsR">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group clearfix">
                                        <div class="col-sm-1 mc-padding-horizontal-0 sc-tit"><em class="font_red">*</em>作者署名：</div>
                                        <div class="col-sm-3 mc-padding-horizontal-0">
                                            <div class="invalidate-input-box z1000">
                                                <input class="form-control" type="text" name="author" ng-model="data.picture.AUTHORS" placeholder="请输入作者署名" validator="spechar,required" ng-mouseenter="isShowTipsA=true" ng-mouseleave="isShowTipsA=false" is-show-tips="isShowTipsA">
                                            </div>
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-1 mc-padding-horizontal-0 sc-tit"><em class="font_red">*</em>拍摄时间：</div>
                                        <div class="col-sm-3 mc-padding-horizontal-0">
                                            <div class="invalidate-input-box z1000">
                                                <input type="text" class="form-control" name="time" ng-model="data.picture.PSTIME" data-date-format="yyyy-MM-dd" data-autoclose="1" validator="spechar,required" ng-mouseenter="isShowTipsT=true" ng-mouseleave="isShowTipsT=false" is-show-tips="isShowTipsT" bs-datepicker>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  <div class="col-md-12">
                                    <div class="form-group clearfix">
                                        <div class="col-sm-1 mc-padding-horizontal-0 sc-tit">
                                            素材类型：
                                        </div>
                                        <div class="col-sm-10 mc-padding-horizontal-0">
                                            <div class="invalidate-input-box material-type">
                                                <i></i>
                                                <span ng-bind="data.materialType[data.picture.MATERIALTYPE]"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-md-12">
                                    <div class="form-group clearfix">
                                        <div class="col-sm-1 mc-padding-horizontal-0 sc-tit">
                                            <em class="font_red">*</em>所属分类：
                                        </div>
                                        <div class="col-sm-10 mc-padding-horizontal-0">
                                            <img src="./editingCenter/website/images/images/w29.png" alt="" ng-click="selectClassify()" class="channel-choose-icon" style="margin-left: 20px;" />
                                            <p ng-bind="classify.TITLE" ng-repeat="classify in data.selectClassify" class="channel-choose-content pointer" ng-click="chooseChannel()"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-left:-90px;">
                            <div class="upload-pic-bk">
                                <div class="uploadBtn">
                                    <img ng-src="{{data.picture.FILEPATH?data.picture.FILEPATH:'./resourceCenter/images/pic.png'}}" ng-class="{'unLoadImage':data.picArray.length<1}">
                                    <div ng-if="!status.params.materialId">
                                        <span class="upload-load" ng-click="multiImgsUploader()" ng-class="{'newImage':data.picArray.length<1}">上传图片</span>
                                        <!-- <a href ng-if="data.picArray.length==1" ng-click="data.progress=0" trs-upload auto="false" filetype="images" add-btn="true" call-back="callBack" src="/wcm/openapi/uploadImage" class="upload-edit"></a> -->
                                        <span ng-if="data.picArray.length>0" class="upload-edit" ng-click="editImage()"></span>
                                    </div>
                                    <div ng-if="status.params.materialId">
                                        <span ng-if="data.picArray.length>0" class="rw-upload-edit" ng-click="editImage()">重新上传</span>
                                    </div>
                                </div>
                                <trs-thumb-scroll ng-show="data.picArray.length>1" callback="seleceItem()" sources="data.picArray" visible-size="data.visibleSize" selected-item="data.selectedPic" selected-index="data.selectedIndex"></trs-thumb-scroll>
                                <!-- 进度条 -->
                                <!-- <div class="percentage" ng-if="data.picArray.length==1">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':data.progress}">{{data.progress}}
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="section-2">
                <div class="m_box bg-gray">
                    <div class="m_box_item mt20">
                        <div class="col-sm-1 txt_r w90 sc-tit"><em class="font_red">*</em>图片说明：</div>
                        <div class="col-sm-10 invalidate-input-box ">
                            <textarea name="content" ng-model="data.picture.CONTENT" class="form-control" maxlength-error-message="长度不能超过500个字符！" validator="spechar,maxlength=500,required" ng-mouseenter="isShowTipsD=true" ng-mouseleave="isShowTipsD=false" is-show-tips="isShowTipsD"></textarea>
                        </div>
                        <span class="col-sm-1 tip" style="margin-top:145px;">共<trs-word-num num-obj="{{data.picture.CONTENT}}" class="font_red auto_wt"></trs-word-num>字</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
