/*========== 定义一个规则，并且不设置默认参数值 ============*/
.eventAnalysis_nav {
  height: 46px;
  border-bottom: 1px solid #CFCFCF;
}
.eventAnalysis_nav ul {
  height: 45px;
  border-left: 1px solid #CFCFCF;
}
.eventAnalysis_nav ul li {
  float: left;
  width: 120px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid #CFCFCF;
  border-right: 1px solid #CFCFCF;
  list-style-type: none;
}
.eventAnalysis_nav ul li.eventAnalysis_nav_state:hover {
  height: 46px;
  line-height: 43px;
  color: #41baff;
  border-top: 2px solid #41baff;
}
.eventAnalysis_nav ul li.eventAnalysis_nav_state {
  background-color: #fff;
}
.eventAnalysis_nav ul li.eventAnalysis_nav_state_active {
  height: 46px;
  line-height: 43px;
  color: #41baff;
  border-top: 2px solid #41baff;
}
.eventAnalysis_nav ul a {
  color: #555555;
  text-decoration: none;
}
/*
.timeCue_page {
    position: relative!important;
    bottom: 0px!important;
}
.timeCue .page p{
    margin-top: 28px;
}*/
