/*========== 定义一个规则，并且不设置默认参数值 ============*/
.big-control-broadcast .btn-commen.four-word-btn {
  width: 100px;
}
.big-control-broadcast .task-mapContainer {
  height: 500px;
  border: 1px solid #aaa;
  margin-bottom: 10px;
}
.big-control-broadcast .toolbar .form-control {
  width: 130px;
  height: 30px;
  display: initial;
}
.big-control-broadcast .xcol-user {
  width: 90px;
}
.big-control-broadcast .xcol-status {
  width: 90px;
}
.big-control-broadcast .xcol-type {
  width: 80px;
}
.big-control-broadcast .xcol-taskTime {
  width: 205px;
}
.big-control-broadcast .xcol-createTime {
  width: 155px;
}
.big-control-broadcast .xcol-material {
  width: 60px;
}
.big-control-broadcast .custom-wrap {
  width: 300px!important;
  z-index: 3;
}
.big-control-broadcast .taskuser {
  cursor: pointer;
  position: relative;
}
.big-control-broadcast .BMapLabel {
  max-width: inherit;
  border: 1px solid #0797DB!important;
  border-radius: 4px;
}
.big-control-broadcast .anchorBL {
  display: none;
}
/*新建 广播弹窗 newAdd start*/
.createBroadcastInfo-form .form-group .invalidate-input-box .width_138 {
  width: 138px;
}
.createBroadcastInfo-form .broadcast_upload_btn {
  margin-left: 20px;
}
.createBroadcastInfo-form .mt7 {
  margin-top: 7px;
}
.createBroadcastInfo-form .broadcast_upload_ttsProgress {
  padding: 1px 25px;
  background: #0099ff;
  border: 1px solid #9C9595;
  border-radius: 4px;
  font-weight: normal;
}
.createBroadcastInfo-form .broadcast_upload_btn .webuploader-pick {
  background: url(editingCenter/app/images/b14.png) no-repeat !important;
  height: 24px!important;
  margin-left: 15px !important;
}
/*新建 广播弹窗 newAdd end*/
