/* 接受弹出框 */
.table-normal {
  width: 100%;
}
.table-normal th,
.table-normal td {
  padding: 5px;
  border: 1px solid #ddd;
}
.table-normal th {
  background-color: #f0f2f5;
}
.upload-icon {
  display: inline-block;
  height: 30px;
  margin-top: 5px;
  background-image: url(planningCenter/images/uploadIcons.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
.myManuSubmit .uploadcontent {
  overflow: initial!important;
}
.upload-icon.ico-text {
  background-image: url(planningCenter/command/images/sc1.png);
  width: 30px;
}
.upload-icon.ico-voice {
  width: 30px;
  background-image: url(planningCenter/command/images/sc2.png);
}
.upload-icon.ico-picture {
  width: 30px;
  background-image: url(planningCenter/command/images/sc3.png);
}
.upload-icon.ico-others {
  width: 30px;
  background-image: url(planningCenter/command/images/sc4.png);
}
.upload-icon.ico-video {
  width: 30px;
  background-image: url(planningCenter/command/images/sc5.png);
}
.reason-cnt {
  width: 100%;
  height: 100px!important;
}
.upload-icon.selecteText {
  background-color: blue;
  color: white;
  background-image: url(planningCenter/command/images/sc1-1.png);
}
.upload-icon.selecteVoice {
  background-color: blue;
  color: white;
  background-image: url(planningCenter/command/images/sc2-1.png);
}
.upload-icon.selectePicture {
  background-color: blue;
  color: white;
  background-image: url(planningCenter/command/images/sc3-1.png);
}
.upload-icon.selecteOthers {
  background-color: blue;
  color: white;
  background-image: url(planningCenter/command/images/sc4-1.png);
}
.upload-icon.selecteVideo {
  background-color: blue;
  color: white;
  background-image: url(planningCenter/command/images/sc5-1.png);
}
.upload-icon.cantSelect {
  opacity: 0.5;
  cursor: not-allowed;
}
.myManuSubmit textarea {
  word-break: break-all;
}
.myManuSubmit .options {
  height: 40px;
  float: initial;
  background-color: #f1f2f6;
}
.myManuSubmit .appendix {
  min-height: 40px;
  padding-top: 5px!important;
  padding-left: 16px;
}
.myManuSubmit .appendix .addAppendix img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.myManuSubmit .appendix .deletAppendix {
  cursor: pointer;
  color: red;
  margin-left: 20px;
}
.myManuSubmit .appendix .addAppendixBtn .webuploader-pick {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url('manageConfig/images/js3.jpg') -3px -3px no-repeat;
}
.myManuSubmit .appendix .uploadProgress {
  display: inline-block;
  margin-left: 10px;
}
.myManuSubmit .appendix .uploadProgress p {
  border: 1px solid #ccc;
  display: inline-block;
  width: 130px;
  margin-right: 10px;
  height: 20px;
  border-radius: 10px;
  vertical-align: -11px;
  padding: 0;
  overflow: hidden;
  position: relative;
  bottom: -3px;
}
.myManuSubmit .appendix .uploadProgress b {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #3879D9;
}
.myManuSubmit .appendix .uploadProgress span {
  color: #999;
}
