<div class="container-fluid editing-list">
    <!-- 站点一级标题-->
    <div class="editing-pos" ng-click="status.isDropdown=!status.isDropdown">
        <div class="editing-list-zjxw site_btn">
            <img class="editing_list_zjxw_img" src="./editingCenter/app/images/w33.png">
            <span ng-bind="status.selectedSite.SITENAME" title="{{status.selectedSite.SITENAME}}"></span>
        </div>
        <!-- 当站点内容超过一条时，下拉收起图标切换 和上面ng-click呼应 -->
        <div ng-if="status.sites.length>1">
            <img class="edit_mark" src="./editingCenter/app/images/l5-1.png" ng-show="!status.isDropdown">
            <img class="edit_mark" src="./editingCenter/app/images/l5-2.png" ng-show="status.isDropdown">
        </div>
        <!-- 站点一级标题列表 -->
        <div class="editing-Sites_fa" ng-show="status.isDropdown">
            <div class="editing-Sites" ng-repeat="site in status.sites" ng-click="selectSites(site)">
                <span ng-bind="site.SITENAME" title="{{site.SITENAME}}"></span>
                <img src="./editingCenter/app/images/l8.png" ng-show="status.selectedSite==site">
            </div>
        </div> 
    </div>
    <tabset class="editing-downlist">
        <!-- 待编 -->
        <tab heading="待编" class="icon-compiled pointer">
        </tab>
        <!-- 待审 -->
        <tab heading="待审" class="icon-pending pointer">
        </tab>
        <!-- 已签发 -->
        <tab heading="已签发" class="icon-signed pointer">
        </tab>
    </tabset>
</div>
