<div class="weibo-account-extension">
    <div class="account-title">
    <span>绑定微博账号</span>
    <img ng-click="cancel()" src="./editingCenter/app/toBeCompiled/images/cls.jpg">
    </div>
    <div class="account-content">
        <div class="account-content-title"><span class="weibo-account-extension-color-1">绑定微博账号</span></div>
        <div class="weibo-account-extension-color-2">提示：在授权之前,请确认您要添加的账号已经退出其他相关服务,如邮箱、微博、博客等。您在授权绑定账号过程中,请允许【浏览器】弹出窗口,否则可能无法完成账号绑定。</div>
        <div>
            <button class="weibo-account-extension-width175 mg-left-40 btn btn-danger" ng-click="sinaWeibo()"><img src="./manageConfig/productManageMent/images/xl-ico.png">新浪微博授权</button>
            <button class="weibo-account-extension-width175 mg-left-40 btn btn-info" ng-click="tencentWeibo()"><img src="./manageConfig/productManageMent/images/tx-ico.png">腾讯微博授权</button>
        </div>
    </div>
</div>