/*========== 定义一个规则，并且不设置默认参数值 ============*/
.createHotEvent {
  margin-top: -15px;
  margin-left: -15px;
}
.createHotEvent .mt20 {
  margin-top: 20px;
}
.createHotEvent .pb50 {
  padding-bottom: 50px;
}
.createHotEvent .fl {
  float: left;
}
.createHotEvent .edit_right_head {
  height: 54px;
  background: #eff0f2;
  padding-top: 15px;
  margin: 0;
  padding-left: 30px;
  font-weight: bold;
  font-size: 16px;
}
.createHotEvent .text_title {
  height: 34px;
  line-height: 34px;
  white-space: nowrap;
  font-weight: bold;
}
.createHotEvent .margin0 {
  margin: 0;
}
.createHotEvent .b0 {
  border: 0!important;
}
.createHotEvent .dashed_line {
  padding-bottom: 20px;
  border-bottom: 1px dashed #ccc;
}
.createHotEvent .dashed_line .keyWords_type {
  height: 34px;
  line-height: 34px;
  white-space: nowrap;
}
.createHotEvent .form-group .invalidate-input-box .form-control {
  width: 55%;
}
.createHotEvent .form-group .invalidate-input-box .dropdown .bth-fix {
  /*margin-right: 16px;*/
  text-align: left;
  width: 120px;
  height: 34px;
  padding-left: 13px !important;
  color: #666;
  font-size: 14px;
  padding: 0px;
  border-radius: 4px;
  box-shadow: none!important;
  /* margin-right: 0!important; */
  line-height: 34px;
  margin-left: -10px;
}
.createHotEvent .form-group .invalidate-input-box .dropdown .btn {
  float: left;
}
.createHotEvent .form-group .invalidate-input-box input.w250 {
  width: 250px;
}
.createHotEvent .form-group .invalidate-input-box input.bg {
  background-color: #fff;
}
.createHotEvent .form-group {
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.createHotEvent .border_b {
  border-bottom: 1px solid #ccc;
}
/*.createHotEvent .hot_labels{
    margin:10px 0;
}*/
.createHotEvent .hot_labels li {
  height: 27px;
  line-height: 26px;
  padding: 0px 20px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  float: left;
  margin: 3px 10px 10px 0;
  text-align: center;
  cursor: pointer;
}
.createHotEvent .hot_labels li.on {
  background-color: #1aba9f;
  color: #fff;
}
.createHotEvent .createHotEvent_btn .col-md-11 button {
  width: 100px;
  height: 34px;
  line-height: 34px;
  background: #4496d2;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  padding: 0px;
  float: left;
  margin-left: 14px;
  cursor: pointer;
}
.createHotEvent .mr {
  margin-right: 15px;
}
