<div trs-scroll-fix class="row editing-main-header">
    <!-- 右侧头部按钮群 -->
    <div class="col-md-8">
        <!-- 新建按钮 -->
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="btn-icon btn-new"></i>
                <span>新建</span>
                <i class="btn-drop-icon"></i>
            </button>
            <ul class="dropdown-menu editing-dropdown-menu">
                <li><a href="javascript:void(0)">文字</a></li>
                <li><a href="javascript:void(0)">图集</a></li>
                <li><a href="javascript:void(0)">视频</a></li>
                <li><a href="javascript:void(0)">链接</a></li>
                <li><a href="javascript:void(0)">文件</a></li>
            </ul>
        </div>
        <!-- 送审按钮 -->
        <button class="btn btn-default dropdown-toggle">
            <i class="btn-icon btn-send"></i>
            <span>送审</span>
        </button>
        <!-- 送签按钮 -->
        <button class="btn btn-default dropdown-toggle">
            <i class="btn-icon btn-sign"></i>
            <span>送签</span>
        </button>
        <!-- 发布按钮 -->
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="btn-icon btn-publish"></i>
                <span>发布</span>
                <i class="btn-drop-icon"></i>
            </button>
            <ul class="dropdown-menu editing-dropdown-menu">
                <li><a href="javascript:void(0)">直接发布</a></li>
                <li><a href="javascript:void(0)">定时发布</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<!-- 下拉框 -->
<div class="row edit_right_mid">
    <!-- <div class="col-md-9">
        按稿件类型排序
        <trs-single-select selected-option="performDocStatusSelected" options="performDocStatusName" callback="queryByDropdown('DocType', performDocStatusSelected.value)"></trs-single-select>
        按稿件时间排序
        <trs-time-select selected-option="performTimeStatusSelected" options="performTimeStatus" callback="queryByDropdown('PubTime', performTimeStatusSelected.value)"></trs-time-select>
    </div> -->
    <!-- <div class="col-md-3 text-align-right">
        <p class="text-danger">初评/终评数额应为0~100正整数</p>
    </div> -->
</div>
<!-- 列表 -->
<div class="editing-table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="td-check">
                    <trs-checkbox ischecked="data.items.length>
                        0&&data.selectedArray.length==data.items.length" callback="checkAll()">
                    </trs-checkbox>
                </th>
                <th class="td-number">序号</th>
                <th class="td-left">标题</th>
                <th class="td-website-column">所属栏目</th>
                <th class="td-website-type">类型</th>
                <th class="td-website-user">操作人</th>
                <th class="td-website-date">操作时间</th>
                <th class="td-website-picture">图示</th>
            </tr>
        </thead>
        <tbody trs-thumb-container>
            <!-- 加载 -->
            <div cg-busy="loadingPromise"></div>
            <tr ng-repeat="item in data.items">
                <!-- 复选框 -->
                <td class="td-check">
                    <trs-checkbox ischecked="data.selectedArray.indexOf(item)<0?false:true" callback="checkSingle(item)"></trs-checkbox>
                </td>
                <!-- 序号 -->
                <td class="td-number">{{(page.CURRPAGE-1)*page.PAGESIZE+$index+1}}</td>
                <!-- 标题 -->
                <td class="td-left td-wordbreak">
                    <a href="" ng-bind="item.DOCTITLE" title="{{item.DOCTITLE}}"></a>
                    <!-- 引用 链接 镜像 图标 -->
                    <img ng-show="item.MODAL=='2'" class="td-show-icon" src="./editingCenter/images/blue-skin/editing-table_icon07.png">
                    <img ng-show="item.MODAL=='3'" class="td-show-icon" src="./editingCenter/images/blue-skin/editing-table_icon08.png">
                </td>
                <!-- 所属栏目 -->
                <td class="td-website-column" ng-bind="item.CHNLIDNAME"></td>
                <!-- 类型 -->
                <td class="td-website-type">
                    <img ng-show="item.DOCTYPE=='20'" src="./editingCenter/images/blue-skin/editing-table_icon02.png" title="文字">
                    <img ng-show="item.DOCTYPE=='30'" src="./editingCenter/images/blue-skin/editing-table_icon03.png" title="链接">
                    <img ng-show="item.DOCTYPE=='40'" src="./editingCenter/images/blue-skin/editing-table_icon04.png" title="文件">
                    <img ng-show="item.DOCTYPE=='50'" src="./editingCenter/images/blue-skin/editing-table_icon05.png" title="图片">
                    <img ng-show="item.DOCTYPE=='60'" src="./editingCenter/images/blue-skin/editing-table_icon06.png" title="视频">
                </td>
                <!-- 操作人 -->
                <td class="td-website-user" ng-bind="item.CRUSER"></td>
                <!-- 操作时间 -->
                <td class="td-website-date" ng-bind="item.CRTIME"></td>
                <!-- 图示 -->
                <td class="edit-icon-td">
                    <trs-thumb item="item" transform="editingCenterAllThumb"></trs-thumb>
                </td>
            </tr>
            <!-- 无数据情况 -->
            <tr ng-if="data.items.length==0">
                <td colspan="8">暂无数据</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- 分页 -->
<!-- <div class="page">
    <pagination class="pagination-sm page_left" num-pages="page.PAGECOUNT" total-items="page.ITEMCOUNT" ng-model="page.CURRPAGE" items-per-page="page.PAGESIZE" ng-change="pageChanged()" boundary-links="true" rotate="false" max-size="maxSize" boundary-link-numbers="true" first-text="首页" last-text="末页" previous-text="上一页" next-text="下一页"></pagination>
    <trs-pagenation-right callback="jumpToPage()" currpage="status.jumpCurrPage" page="page"></trs-pagenation-right>
</div> -->
<!-- 加载条 -->
<div cg-busy="loadingPromise"></div>