/*========== 定义一个规则，并且不设置默认参数值 ============*/
.eventManagement {
  padding: 10px 5px;
  border: 1px solid #CFCFCF;
  border-top: transparent;
}
.eventManagement .eventManagement_table {
  border-radius: 5px;
  border: 1px solid #a6b2c0;
}
.eventManagement .monitor_input_group .createHotEvent_btn {
  line-height: 27px;
  background: #2f98d2;
  color: #fff;
  text-align: center;
  border: none;
  font-size: 12px;
  border: 1px solid #2f98d2;
  float: left;
  margin-right: 15px;
  padding: 0 10px;
  margin-top: 1px;
}
.eventManagement .createHotEvent_div {
  width: 110px;
  height: 29px;
  float: left;
}
.eventManagement .clue_calendar_button .clue_calendar_btn_success {
  width: 90px;
  line-height: 26px;
  background: #2f98d2;
  color: #fff;
  text-align: center;
  border: none;
  margin-left: 5px;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid #2f98d2;
}
.eventManagement .clue_calendar_button .clue_calendar_btn {
  width: 90px;
  line-height: 26px;
  color: #545454;
  text-align: center;
  border: 1px solid #CFCFCF;
  margin-left: 10px;
  border-radius: 4px;
  font-size: 12px;
  background: #fbfbfb;
}
.eventManagement .clue_calendar_button {
  margin-top: 0px;
  margin-bottom: 10px;
}
.eventManagement .clue_calendar_button .monitor_input_group {
  float: right;
  width: 50%;
}
.eventManagement .clue_calendar_button .monitor_form_control {
  float: none;
  height: 30px;
  background: url("editingCenter/app/images/sch.jpg") no-repeat 10px center;
  padding-left: 30px;
  font-size: 14px;
  font-family: "Helvetica Neue', Helvetica, Arial, sans-serif";
  width: 60%;
  float: left;
  border-radius: 5px!important;
}
.eventManagement .clue_calendar_button .input_group_btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  top: 0px;
  right: 0px;
  left: 10px;
  float: left;
}
.eventManagement .clue_calendar_button .input_group_btn .btn_monitor_search {
  width: 60px;
  height: 30px;
  padding: 0px;
  color: #65635f;
  background: url("editingCenter/app/images/b-m.jpg") repeat-x;
  border-radius: 5px;
}
.eventManagement .th_check {
  width: 70px;
}
.eventManagement .th_time {
  width: 170px;
}
.eventManagement .th_coperation {
  width: 235px;
}
.eventManagement_table tbody tr td span {
  /*padding:0 10px;*/
  color: #2f98d3;
  cursor: pointer;
}
.eventManagement_table tbody tr td a {
  display: inline;
}
.eventManagement_table tbody tr td span.split_line {
  padding: 0 10px;
}
.eventManagement .recent-policy tbody tr td:nth-child(1) {
  text-align: center;
}
.eventManagement .recent-policy tbody tr td.td_left {
  text-align: left;
}
.eventManagement .pagination > .active > a {
  z-index: 1;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.eventManagement .timeCue_page .page_left {
  margin-left: 200px;
}
