.planEventAnalyisBasicInfoDetail .moduleContainer-content.introduction .col-md-7 .introduction-text span.planEventAnalyisBasicInfoDetail {
  /*color: red;*/
}
.planEventAnalyisBasicInfoDetail .moduleContainer {
  border: 1px solid #ccc;
  background: #EEF1F6;
  margin-bottom: 30px;
  padding: 10px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-title {
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 10px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content {
  background: #fff;
  border: 1px solid #ccc;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.introduction,
.planEventAnalyisBasicInfoDetail .moduleContainer-content.restore {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.introduction .col-md-7 {
  padding: 25px 15px 10px 45px;
  font-size: 16px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.introduction .col-md-7 p {
  margin-bottom: 0;
  padding-bottom: 25px;
  padding-left: 25px;
  border-bottom: 1px solid #eee;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.introduction #allMapMain {
  height: 370px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.introduction .col-md-7 ul {
  margin-bottom: 50px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.introduction .col-md-7 li {
  background: url('planningCenter/images/ch7-1.png') 20px 20px no-repeat;
  background-size: 8px;
  padding: 15px 10px 15px 40px;
  border-bottom: 1px solid #eee;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.introduction .col-md-7 .introduction-text span {
  font-size: initial!important;
  display: initial!important;
  padding-left: initial!important;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.introduction .introductionplcae span {
  /* font-size: 12px; */
  /* display: block; */
  /* padding-left: 25px; */
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.introduction .col-md-7 a {
  cursor: pointer;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.introduction button.detailbtn {
  width: 100px;
  height: 30px;
  background: #4496D2;
  border-radius: 1px;
  font-size: 12px;
  color: #fff;
  border: none;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.introduction button.detailbtn span {
  padding: 0 2px;
  margin-right: 6px;
  border-right: 1px solid #999;
  display: inline;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.introduction .introduction-edit {
  margin-top: 10px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.introduction .introduction-edit input.form-control {
  height: 30px;
  background: #fff;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.introduction .introduction-edit a.deleteData {
  font-size: 12px;
  text-decoration: underline;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.introduction .introduction-edit .col-md-2 {
  padding-top: 4px;
  padding-right: 0;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.introduction .introduction-edit .row {
  margin-bottom: 10px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.introduction .introduction-edit .footer button {
  width: 120px;
  height: 40px;
  margin-right: 10px;
  font-weight: bold;
  color: #fff;
  background: #2F98D2;
  border-radius: 2px;
  border: none;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.restore .col-md-7 {
  padding: 30px 15px 30px 45px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.restore {
  width: auto;
  min-height: auto;
  font-size: 16px;
  color: #666;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.restore ol {
  display: none;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.restore .carousel-con {
  min-height: 360px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.restore .carousel-control {
  height: 355px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.restore .carousel-img {
  height: 355px;
  line-height: 355px;
  overflow: hidden;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.restore .carousel-list img {
  max-width: 100%;
  max-height: 100%;
  /*width: 1000px;*/
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report {
  margin: 0;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report.row,
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report .row {
  margin-right: 0;
  margin-left: 0;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report .col-md-10 {
  min-height: 33px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report > .col-md-12 {
  padding: 20px 30px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report > .col-md-12 .input-group .edit_form_control {
  width: 98%;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report > .col-md-6 {
  padding: 0;
  border-top: 1px solid #ccc;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report .edit_table {
  border: none;
  border-right: 1px solid #ccc;
  min-height: 470px!important;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report .table {
  margin: 0;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report .page {
  position: relative !important;
  padding-top: 0!important;
  bottom: 0!important;
  height: 55px;
  margin: 0 auto;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report .col-md-12.text-center > div {
  display: inline-block;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report .col-md-12.text-center > a {
  position: relative;
  bottom: 16px;
  text-decoration: underline;
  color: #888;
  cursor: pointer;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report .col-md-12.text-center > a:hover {
  color: #aaa;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report .page p {
  margin-left: 20px;
  margin-right: 20px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report .page_left {
  margin: 15px 0 15px 20px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report > .col-md-6.contentRight {
  font-size: 12px;
  padding-top: 45px;
  max-height: 470px;
  overflow-y: auto;
  overflow-x: hidden;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report > .col-md-6.contentRight .col-md-2 {
  text-align: right;
  font-weight: bold;
  padding-top: 3px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report > .col-md-12.footer {
  border-top: 1px solid #ccc;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report > .col-md-6.contentRight span {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  background: #ececec;
  border-radius: 3px;
  padding: 3px 8px;
  cursor: pointer;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report > .col-md-6.contentRight span.active {
  background: #1CBA9F;
  color: #fff;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.report > .col-md-6.contentRight .col-md-2 {
  /*padding-right: 0;*/
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.material {
  border: none;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.material .mc-padding-left-xs {
  padding-left: 20px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.material .planEventAnalyisBasicInfoDetail .moduleContainer-content.eventContent {
  position: relative;
  min-height: 360px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.eventContent > p {
  background: url('planningCenter/selectedTopicEvent/eventAnalysis/detail/images/sp5.png') 0 0 no-repeat;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 160px;
  height: 45px;
  line-height: 45px;
  padding-left: 15px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer.eventContentContainer .row {
  padding: 0 14px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer.eventContentContainer .row .col-md-4 {
  padding: 0;
}
/*tab开始*/
.planEventAnalyisBasicInfoDetail .moduleContainer-content.material .nav-tabs {
  border-left: 1px solid #ccc;
  background: #EEF1F6;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.material .tab-content {
  border: 1px solid #ccc;
  border-top: none;
}
.planEventAnalyisBasicInfoDetail .nav-tabs > li {
  background: #EEF1F6;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-color: #ccc;
}
.planEventAnalyisBasicInfoDetail .nav-tabs > li.active {
  border-top: 1px solid transparent;
  background-color: #3199D3;
}
.planEventAnalyisBasicInfoDetail .nav-tabs > li > a {
  margin-right: 0;
  border-radius: 0;
  font-weight: bold;
  color: #333;
  border-top: 1px solid #ccc;
}
.planEventAnalyisBasicInfoDetail .nav-tabs > li.active > a {
  border-bottom: 1px solid #fff;
  position: relative;
  bottom: -1px;
  padding-top: 5px;
  color: #3199D3;
  border-top: 3px solid transparent;
}
.planEventAnalyisBasicInfoDetail .nav-tabs > li > a,
.planEventAnalyisBasicInfoDetail .nav-tabs > li > a:hover,
.planEventAnalyisBasicInfoDetail .nav-tabs > li > a:active,
.planEventAnalyisBasicInfoDetail .nav-tabs > li.active > a,
.planEventAnalyisBasicInfoDetail .nav-tabs > li.active > a:hover,
.planEventAnalyisBasicInfoDetail .nav-tabs > li.active > a:focus {
  background: #fff;
}
.planEventAnalyisBasicInfoDetail .nav-tabs > li > a:hover {
  border-color: transparent;
  border-top-color: #ccc;
}
.planEventAnalyisBasicInfoDetail .nav-tabs > li.active > a:hover {
  border-top: 3px solid transparent;
}
/*tab结束*/
/*表格头部检索开始*/
.planEventAnalyisBasicInfoDetail .moduleContainer-content.material.row,
.planEventAnalyisBasicInfoDetail .moduleContainer-content.material .row {
  margin-right: 0;
  margin-left: 0;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.material .col-md-12.header {
  padding: 20px 30px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.material .col-md-12.header .input-group .edit_form_control {
  width: 98%;
}
/*表格头部检索结束*/
.planEventAnalyisBasicInfoDetail .moduleContainer-content.material .edit_table {
  margin: 0 30px;
  min-height: 0!important;
  margin-top: 70px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.material .page {
  position: static!important;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.material .pagination {
  margin: 0;
  margin-top: 13px;
  margin-left: 200px;
}
@media screen and (max-width: 1366px) {
  .planEventAnalyisBasicInfoDetail .moduleContainer-content.material .edit_table {
    margin-bottom: 50px;
  }
}
.planEventAnalyisBasicInfoDetail ul.mediaContainer {
  border: 1px solid #ccc;
  padding: 0 10px 10px 0;
  margin: 0 30px;
  overflow: hidden;
}
.planEventAnalyisBasicInfoDetail ul.mediaContainer li {
  width: 20%;
  background: #fff;
  padding: 10px 0 0 10px;
  min-height: 230px;
  display: inline-block;
  vertical-align: top;
}
.planEventAnalyisBasicInfoDetail ul.mediaContainer li > div.imgContar {
  width: 100%;
  min-height: 180px;
  cursor: pointer;
}
.planEventAnalyisBasicInfoDetail ul.mediaContainer li > div.imgContar img {
  width: 100%;
  max-height: 180px;
}
/*page样式*/
.planEventAnalyisBasicInfoDetail .page.mediaContainerPage {
  height: 85px;
  padding-top: 15px!important;
  position: relative!important;
  bottom: 0;
}
/*@media screen and (max-width: 1366px) {
    .planEventAnalyisBasicInfoDetail .page.mediaContainerPage {
        position: relative;
    }
}*/
.planEventAnalyisBasicInfoDetail ul.weiboContainer {
  padding: 0 20px 10px 20px;
  border: 1px solid #ddd;
  margin: 0 30px;
}
.planEventAnalyisBasicInfoDetail ul.weiboContainer > li {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 30px 0;
}
.planEventAnalyisBasicInfoDetail ul.weiboContainer > li button.originalWeibo {
  font-size: 12px;
  color: #fff;
  width: 100px;
  height: 26px;
  border: none;
  outline: none;
  border-radius: 2px;
  line-height: 10px;
  background: #2F98D2;
  position: absolute;
  top: 20px;
  right: 0;
}
.planEventAnalyisBasicInfoDetail .weiboContainerHead {
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  top: 20px;
}
.planEventAnalyisBasicInfoDetail .weiboContainerContent {
  margin-left: 60px;
}
.planEventAnalyisBasicInfoDetail .weiboContainerContent p.weiboInfo b {
  font-weight: bold;
  font-size: 16px;
  margin-right: 5px;
  vertical-align: middle;
}
.planEventAnalyisBasicInfoDetail .weiboContainerContent p.weiboInfo img {
  margin-right: 10px;
  margin-top: -3px;
}
.planEventAnalyisBasicInfoDetail ul.weiboContainer > li div.weiboAttachment {
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px 10px 10px 0;
  background: #D9E499;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.volume {
  border: none;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.volume .nav-tabs {
  border-left: 1px solid #ccc;
  background: #EEF1F6;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.volume .tab-content {
  border: 1px solid #ccc;
  border-top: none;
}
/*左边定位样式*/
.planEventAnalyisBasicInfoDetail .leftScrollspy {
  position: fixed;
  top: 140px;
  left: 2%;
}
.planEventAnalyisBasicInfoDetail .leftScrollspy ul {
  position: relative;
}
.planEventAnalyisBasicInfoDetail .leftScrollspy ul.spreadScrollspy {
  border-left: 2px solid #ccc;
  /*background: url('./planningCenter/selectedTopicEvent/eventAnalysis/detail/images/sp1.png') 0 0 no-repeat;*/
}
.planEventAnalyisBasicInfoDetail .leftScrollspy ul li {
  font-family: 'Microsoft YaHei';
  margin: 0 0 20px 0;
  position: relative;
  left: -10px;
}
.planEventAnalyisBasicInfoDetail .leftScrollspy ul li a {
  padding-left: 40px;
  color: #999;
  text-decoration: none;
}
.planEventAnalyisBasicInfoDetail .leftScrollspy ul li.scrollTitle {
  font-size: 18px;
  padding-left: 40px;
  cursor: pointer;
  /*background: url('./planningCenter/selectedTopicEvent/eventAnalysis/detail/images/sp4.png') 0 0 no-repeat;*/
}
.planEventAnalyisBasicInfoDetail .leftScrollspy ul.spreadScrollspy li.scrollTitle {
  font-size: 18px;
  background: none;
  cursor: default;
  /*background: url('./planningCenter/selectedTopicEvent/eventAnalysis/detail/images/sp1.png') 0 0 no-repeat;*/
}
.planEventAnalyisBasicInfoDetail .leftScrollspy ul li a.active {
  background: url('planningCenter/selectedTopicEvent/eventAnalysis/detail/images/sp2.png') 1px 4px no-repeat;
}
.planEventAnalyisBasicInfoDetail .leftScrollspy ul li.scrollTitleImg {
  position: absolute;
  top: -3px;
  left: -4px;
  background: #fff;
}
.planEventAnalyisBasicInfoDetail .leftScrollspy ul li.scrollTitleImg img {
  position: relative;
  top: 4px;
}
.planEventAnalyisBasicInfoDetail .leftScrollspy ul.spreadScrollspy li.scrollTitleImg {
  position: absolute;
  top: -3px;
  left: -4px;
  background: #fff;
}
.planEventAnalyisBasicInfoDetail .leftScrollspy ul.spreadScrollspy li.scrollTitleImg img {
  position: relative;
  top: 4px;
}
/*左边定位样式结束*/
.planEventAnalyisBasicInfoDetail .related_information {
  width: 100%;
  position: relative;
  margin: 50px auto 0 auto;
  height: 310px;
}
.planEventAnalyisBasicInfoDetail .related_information div {
  position: absolute;
  color: white;
  text-align: center;
}
.planEventAnalyisBasicInfoDetail .related_information div p {
  margin: 0px;
}
.planEventAnalyisBasicInfoDetail .related_information div p a {
  color: white;
  text-decoration: none;
  width: 100%;
  max-height: 80px;
  display: block;
  /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
  padding: 0 10px;
}
.planEventAnalyisBasicInfoDetail .related_information div {
  font-family: 'Microsoft YaHei';
  cursor: pointer;
  border-radius: 50%;
  opacity: .9;
}
.planEventAnalyisBasicInfoDetail .related_information div:hover {
  -webkit-box-shadow: 0 0 13px #000;
  -moz-box-shadow: 0 0 13px #000;
  box-shadow: 0 0 13px #000;
  /*transform: scale(1.2, 1.2);*/
  z-index: 9999999;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.eventContent {
  background: #efefef;
}
.planEventAnalyisBasicInfoDetail .related_information div:nth-child(1) {
  top: 97px;
  left: 31%;
  width: 32.8%;
  font-size: 26px;
  height: 117px;
  /*line-height: 117px;*/
  background: #3F99D2;
}
.planEventAnalyisBasicInfoDetail .related_information div:nth-child(2) {
  top: 95px;
  left: 75%;
  width: 23.1%;
  font-size: 18px;
  height: 82px;
  /*line-height: 82px;*/
  background: #F19141;
}
.planEventAnalyisBasicInfoDetail .related_information div:nth-child(3) {
  top: 123px;
  left: 1%;
  width: 21.2%;
  font-size: 16px;
  height: 76px;
  /*line-height: 76px;*/
  background: #6FB33E;
}
.planEventAnalyisBasicInfoDetail .related_information div:nth-child(4) {
  top: 200px;
  left: 63%;
  width: 27.6%;
  font-size: 16px;
  height: 99px;
  /*line-height: 99px;*/
  background: #A38FC7;
}
.planEventAnalyisBasicInfoDetail .related_information div:nth-child(5) {
  top: 231px;
  left: 34%;
  width: 21.2%;
  font-size: 16px;
  height: 75px;
  /*line-height: 75px;*/
  background: #57BBA1;
}
.planEventAnalyisBasicInfoDetail .related_information div:nth-child(6) {
  top: 215px;
  left: 12%;
  width: 15%;
  font-size: 10px;
  height: 54px;
  /*line-height: 54px;*/
  background: #E36972;
}
.planEventAnalyisBasicInfoDetail .related_information div:nth-child(7) {
  top: 37px;
  left: 15%;
  width: 15%;
  font-size: 12px;
  height: 53px;
  /*line-height: 53px;*/
  background: #58B5E2;
}
.planEventAnalyisBasicInfoDetail .related_information div:nth-child(8) {
  top: 10px;
  left: 39%;
  width: 18.7%;
  font-size: 14px;
  height: 67px;
  /*line-height: 67px;*/
  background: #6A9DCD;
}
.planEventAnalyisBasicInfoDetail .related_information div:nth-child(9) {
  top: 30px;
  left: 66%;
  width: 15%;
  font-size: 12px;
  height: 54px;
  /*line-height: 54px;*/
  background: #C166A6;
}
.planEventAnalyisBasicInfoDetail .related_information div p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.planEventAnalyisBasicInfoDetail .related_information div span.addToMap {
  background: #fff;
  border: 1px solid #ccc;
  width: 100px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  position: absolute;
  cursor: pointer;
  color: #333;
  font-size: 12px;
  margin: auto;
  left: 0;
  right: 0;
  top: -40px;
  border-radius: 5px;
}
.planEventAnalyisBasicInfoDetail .related_information div span.addToMap > i {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-left: none;
  position: absolute;
  height: 12px;
  width: 12px;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -6px;
}
.planEventAnalyisBasicInfoDetail .related_information div span.addToMap > s {
  text-decoration: none;
  display: block;
  margin: 0 auto;
}
@keyframes planEventAddToMapBtnEnter {
  from {
    width: 70px;
  }
  to {
    width: 100px;
  }
}
@keyframes planEventAddToMapBtnLeave {
  from {
    width: 100px;
  }
  to {
    width: 70px;
  }
}
/*ng-show*/
.planEventAnalyisBasicInfoDetail .related_information div span.addToMap.ng-hide-remove {
  animation: planEventAddToMapBtnEnter 0.2s both ease-in;
}
.planEventAnalyisBasicInfoDetail .related_information div span.addToMap.ng-hide-add {
  animation: planEventAddToMapBtnLeave 0.1s both ease-in;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.volume .channelVolumeLine {
  padding: 30px 40px 10px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.volume .channelVolumeLine,
.planEventAnalyisBasicInfoDetail .moduleContainer-content.volume .channelVolumePie,
.planEventAnalyisBasicInfoDetail .moduleContainer-content.volume .mediaVolumeBar,
.planEventAnalyisBasicInfoDetail .moduleContainer-content.volume .mediaVolumeLine {
  min-height: 400px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content .emotionColumnarBar {
  min-height: 400px;
  padding-bottom: 40px;
  padding-top: 20px;
}
.planEventAnalyisBasicInfoDetail .moduleContainer-content.emotionColumnar {
  margin: 0;
}
.planEventAnalyisBasicInfoDetail .BMapLabel {
  border: initial!important;
  background-color: initial!important;
  color: white!important;
  font-size: 15px!important;
}
.planEventAnalyisBasicInfoDetail .anchorBL {
  display: none;
}
.planEventAnalyisBasicInfoDetail p.footerInfo {
  text-align: center;
  height: 100px;
  line-height: 100px;
  padding-bottom: 173px;
}
