<div class="cutOut">
    <div class="cutOut_header">
        <span>选择并裁剪图片</span>
        <img class="cutOut_header_img" src="./editingCenter/app/toBeCompiled/images/cls.jpg" ng-click="cancel()">
    </div>
    <div class="cutOut_content">
        <iframe class="cutOut_content_images" frameborder="0" src="./components/service/editPicture/trsCutPicture/cropper/index.html">
        </iframe>
    </div>
    <div class="cutOut_footer">
        <button class="cutOut_footer_btn btn_confirm" ng-click="confirm()">确定</button>
        <button class="cutOut_footer_btn ml20 btn_cancel" ng-click="cancel()">取消</button>
    </div>
</div>
