<div class="websiteCabletPreview_nav">
    <div class="box-fix-bt box-fix-top">
        <div class="txt_r">
            <button class="btn btn-primary" ng-click="edit()">
                <span class="s_icon">
                    <img ng-src="./editingCenter/newspaper/images/bj46-1.png">
                </span> 编辑
            </button>
            <button class="btn btn-primary" ng-click="close()">
                <span class="s_icon">
                    <img ng-src="./editingCenter/iWo/images/cclose.png" />
                </span> 关闭
            </button>
        </div>
    </div>
</div>
<div class="websiteCabletPreview">
    <div class="websiteCabletPreview_context">
        <div class="websiteCabletPreview_head">
            <div class="websiteCabletPreview_head_rank">
                <p class="col-md-4">
                    <b>作者：</b>
                    <span>{{data.videoInfo.AUTHORS}}</span>
                </p>
                <p class="col-md-4">
                    <b>关键字：</b>
                    <span title="{{data.videoInfo.KEYWORD}}">{{data.videoInfo.KEYWORD}}</span>
                </p>
                <p class="col-md-4">
                    <b>创建时间：</b>
                    <span>{{data.videoInfo.CRTIME}}</span>
                </p>
            </div>
            <div class="websiteCabletPreview_head_rank">
                <p class="col-md-4">
                    <b>相关人物：</b>
                    <span title="{{data.videoInfo.RELATEPERSON}}">{{data.videoInfo.RELATEPERSON}}</span>
                </p>
                <p class="col-md-4">
                    <b>相关地点：</b>
                    <span title="{{data.videoInfo.RELATEPLACE}}">{{data.videoInfo.RELATEPLACE}}</span>
                </p>
            </div>
            <div class="websiteCabletPreview_head_rank">
                <p class="col-md-12">
                    <b>所属分类：</b>
                    <span title="{{data.typeString}}">{{data.typeString}}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="websiteCabletPreview_content">
        <h1>{{data.videoInfo.TITLE}}</h1>
        <h4></h4>
        <div class="videolabel">
            <video controls="controls" ng-src="{{data.videoInfo.MAS[0].iOSAppPlayURL | trsTrustUrl}}" poster="{{data.videoInfo.MAS[0].pic}}">Your brower does not support the video tag.</video>
        </div>
    </div>
    <div class="websiteCabletPreview_context">
        <div class="websiteCabletPreview_head">
            <div class="websiteCabletPreview_head_rank">
                <p class="col-md-12">
                    <b>音视频说明：</b>
                    <span title="说明">{{data.videoInfo.CONTENT}}</span>
                </p>
            </div>
        </div>
    </div>
    <trs-go-top></trs-go-top>
    <div cg-busy="loadingPromise"></div>
</div>
