/*========== 定义一个规则，并且不设置默认参数值 ============*/
.mapSuggestion {
  position: relative;
}
.mapSuggestion img {
  position: absolute;
  right: 10px;
  top: 7px;
}
.mapSuggestion input {
  display: inline-block;
  width: 336px;
  padding-right: 30px;
}
.mapSuggestion span {
  display: inline-block;
  font-weight: bold;
}
.mapSuggestion span.ng-scope {
  font-weight: normal;
  left: 10px!important;
}
.tangram-suggestion-main td {
  text-align: left;
}
